.header{
  font-family:Meiryo;
  font-size:40px;
  font-weight:bold;
  background-color:#FFFFF0;
  height:70px;
  text-align:left;
  padding:15px 15px;
}

.borderline1{
  background-color:#B0C4DE;
  height:4px;
}
.borderline2{
  background-color:#FFFFF0;
  height:1px;
}
.borderline3{
  background-color:#B0C4DE;
  height:2px;
}
