.header{
  font-family:Meiryo;
  font-size:40px;
  color:white;
  font-weight:bold;
  background-color:#50687b;
  height:70px;
  text-align:left;
  padding:20px 0px 20px 10px;
  display:flex;
}

img{
  text-align:right;
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
  margin-right: 0;
 　　margin-left: auto;
  }

.borderline1{
  background-color:black;
  height:5px;
}
.borderline2{
  background-color:#50687b;
  height:2px;
}
.borderline3{
  background-color:black;
  height:3px;
}
